.a {
    display: inline;
    margin: 0 auto;
    color: blue;
}
.conteiner-1{
    width: 1500px;
    background-color: crimson;
    margin: 0 auto;
    text-align: center;

}
img{
    display: block;
    margin: 0 auto;
}
.conteiner-2{
    width: 1300px;
    background-color: violet;
    margin: auto;
}
.col-30 {
    width: 30%;
    border: 2px solid;
    background-color: yellow;
    display: inline-block;
 
}